{% extends 'culture/menu_culture.html' %}
{% load static %}
{% block body %}
<div class="component_right">
    <h1>The country</h1>
    <div class="subject">
        <h2>Geographical identities</h2>
        <p>Most British people identify themselves at one level with the larger political
            and geographical areas in which they live. The country’s title for
            constitutional and political purposes is the United Kingdom of Great
            Britain and Northern Ireland, with the short forms ‘UK’ and ‘Britain’ being
            used for convenience. It is part of those islands, known geographically
            as the British Isles (but more correctly as the British-Irish Islands), which
            lie off the north-west coast of continental Europe. The mainlands of
            England, Scotland and Wales form the largest island with the political title
            of Great Britain. Northern Ireland shares the second-largest island with
            the Republic of Ireland (Ireland or Eire), which has been independent of
            Britain since 1921–22. Smaller islands, such as Anglesey, the Isle of Wight,
            the Orkneys, Shetlands, Hebrides and Scillies, are also part of the British
            political union.
            But the Isle of Man in the Irish Sea and the Channel Islands off the
            French west coast are not part of the United Kingdom. They are selfgoverning
            Crown Dependencies which have a historical relationship with
            the British Crown and possess their own independent legal systems, legislatures
            and administrative structures. However, the British government is
            responsible for their defence and foreign relations and can intervene if good
            administration is not maintained.
            On a smaller level of geographical identification, Britain is often
            divided up into ‘regions’. These are not the same as local government
            10111
            10 The country
            structures (see Chapter 3). They can be politico-economic structures for
            British and EU purposes; assistance and development areas; or service
            locations for supplies of gas, water and electricity. They are often based,
            as in figure 1.3, on former economic planning regions. In 1999, Regional
            Development Agencies (RDAs) were created in England which cover the
            same areas.
            ‘Regionalism’ and ‘localism’, as cultural factors, are significant in
            British life, but opinions differ on how strong they actually are. They can
            illustrate a sense of belonging, which becomes more evident with increasing
            distance from London and the UK government. They may reflect a determination
            by regional or local populations to assert their individual identities.
            These have increased in Scotland, Wales and (arguably) Northern
            Ireland with the devolution of political power from London and the establishment
            (1999–2000) of a Parliament in Edinburgh and Assemblies in
            Cardiff and Belfast. But smaller local government areas in these countries
            may well react to centralized power in the capital cities. Devolution has
            also provoked demands for greater autonomy in some English regions such
            as the north-east, and the RDAs may serve as future sites for devolved
            regional government in England.
            Identification with even smaller local areas was arguably more significant
            when the British were a rural people living in villages and were less
            mobile. But today, this identity may still be strongly focused on cities (such
            as Manchester, Liverpool, Glasgow, Belfast, London and Cardiff) or on
            English and Welsh counties rather than the larger regional areas.</p>
    </div>
</div>
{% endblock %}
