{% extends 'gramar/menu_gramar.html' %}
{% load static %}
{% block body %}
<div class="component_right">
    <h1>PRESENT CONTINUOUS</h1>
    <div class="subject">
        <h2>Zdania twierdzące</h2>
        <h3>To be + czasownik + ing</h3>
        <p>Czasownik w czasie Present Continuous składa się z dwóch
            elementów: czasownika posiłkowego to be odmienionego przez osoby
            ( I am, you are itp. ) oraz czasownika głównego z dodaną
            końcówką –ing.</p>
        <h3 class="example">Przykład</h3>
        <p class="example">My boyfriend is watching a football match at
            the moment.</p>
        <p class="example">Stop making such a noise! I’m trying to rest!</p>
    </div>
    <div class="subject">
        <h2>Zmiany w pisowni</h2>
        <ul>
            <p>Dodając końcówkę –ing do niektórych czasowników, należy
                wprowadzić pewne zmiany w pisowni:</p>
            <li>W czasownikach jednosylabowych, zawierających krótką w
                wymowie ( zwykle pojedynczą w pisowni ) samogłoskę i jednocześnie
                zakończonych na pojedynczą spółgłoskę, spółgłoska ta ulega
                podwojeniu:
            </li>
            <h3 class="example">Przykład</h3>
            <p class="example">get – getting</p>
            <p class="example">let – letting</p>
            <p class="example">put – putting</p>
            <div class="note">
                <h3 class="note">Uwaga!</h3>
                <p class="example">work – working ( na końcu czasownika mamy dwie
                    spółgłoski )</p>
                <p class="example">feel – feeling ( samogłoska jest długa [i:] – w
                    pisowni odpowiada jej ee )</p>
            </div>
            <li>W czasownikach dłuższych, jeśli ostatnia sylaba jest akcentowana
                i kończy się pojedynczą spółgłoską również podwajamy ostatnią
                spółgłoskę:
            </li>
            <h3 class="example">Przykład</h3>
            <p class="example">admit – admitting</p>
            <p class="example">begin – beginning</p>
            <p class="example">prefer – preferring</p>
            <p class="example">forget - forgetting</p>
            <div class="note">
                <h3 class="note">Uwaga!</h3>
                <p class="example">enter – entering ( akcent pada na pierwszą sylabę )</p>
            </div>
            <li>W czasownikach dwu i więcej sylabowych zakończonych na –l
                ( jeśli poprzedza je krótka samogłoska ) – podwajamy końcowe –l:
            </li>
            <p class="example">travel – travelling</p>
            <p class="example">signal – signalling</p>
            <div class="note">
                <h3 class="note">Uwaga!</h3>
                <p class="example">W amerykańskim angielskim powyższej reguły nie stosuje się
                    ( Amerykanie napiszą: travelling, signaling ).</p>
            </div>
            <li>Jeśli czasownik kończy się na –e, samogłoska ta jest pomijana:</li>
            <h3 class="example">Przykład</h3>
            <p class="example">have – having</p>
            <p class="example">make – making</p>
            <p class="example">prepare – preparing</p>
            <li>Wyjątkiem są czasowniki zakończone na –ee, np.:</li>
            <h3 class="example">Przykład</h3>
            <p class="example">agree – agreeing</p>
            <p class="example">see – seeing</p>
            <p class="example">age – ageing</p>
            <p class="example">dye – dyeing</p>
        </ul>
    </div>
    <div class="subject">
        <h2>Pytania i przeczenia</h2>
        <p>Pytania w czasie Present Continuous tworzymy, stosując szyk
            przestawny, tzn. odwracając kolejność wyrazów w zdaniu. Porównajmy:</p>
        <h3 class="example">Przykład</h3>
        <p class="example">I am working at the moment.</p>
        <p class="example">Am I working at the moment?</p>
        <p class="example">She’s helping her mother.</p>
        <p class="example">Is she helping her mother?</p>
        <p>Przeczenia powstają przez zaprzeczenie czasownika posiłkowego
            to be – czyli dodanie partykuły not do odmienionej przez osoby
            formy tego czasownika:</p>
        <h3 class="example">Przykład</h3>
        <p class="example">It’s raining.</p>
        <p class="example">It’s not raining. / It isn’t raining.</p>
        <p class="example">My mum is cooking now.</p>
        <p class="example">My mum’s not cooking now.</p>
        <p class="example">I’m sleeping.</p>
        <p class="example">I’m not sleeping.</p>
    </div>
    <div class="subject">
        <h2>Użycie</h2>
        <p>Czas Present Continuous służy do wyrażania czynności, które mają
            miejsce w danej chwili, tzn. wtedy, gdy o nich mówimy:</p>
        <h3 class="example">Przykład</h3>
        <p class="example">Tom is hiding under the table.</p>
        <p class="example">Lucy is speaking to her sister in the phone.</p>
        <p class="example">Where are you going?</p>
        <p class="example">Look! It’s snowing again!</p>
    </div>
    <div class="subject">
        <h2>Okoliczniki czasu</h2>
        <p>Oto określenia czasu najbardziej charakterystyczne dla Present Continuous:</p>
        <h3 class="example">Przykład</h3>
        <p class="example">at the moment – w tej chwili</p>
        <p class="example">at present - obecnie</p>
        <p class="example">this week / month – w tym tygodniu / miesiącu</p>
        <p class="example">now - teraz</p>
        <p class="example">today - dzisiaj</p>
    </div>
    <div class="separator"></div>

    <h2 class="button">I'm ready for exam</h2>
</a>
</div>
{% endblock %}
