{% extends 'vocabulary/menu_vocabulary.html' %}
{% load static %}
{% block head_2 %}
    <link rel="stylesheet" href="{% static 'css/styleMobId.css' %}"/>
{% endblock %}
{% block body %}
<div class="component_right">
    <h1>Idioms</h1>
    <div class="subject">
        <h2>Co to są idiomy?</h2>
        <p>Każdy język zawiera pewne frazy wyrazowe, które nie mogą być rozumiane
            dosłownie. Nawet jeśli zna się pojedyncze słowa użyte w takiej frazie i rozumie jej
            układ gramatyczny, znaczenie nadal może pozostać tajemnicą. To właśnie jest
            najczęściej nazywane idiomem.</p>
        <h3 class="example">Przykład</h3>
        <p class="example">It’s raining cats and dogs.</p>
        <p class="example">rozumiemy słowa rain , cat, dog, ale nic nam to nie pomoże, dopóki nie nauczymy
            się, że jest to bliski odpowiednik polskiego:</p>
        <p class="example">Leje jak z cebra.</p>
        <p>Idiomy w każdym języku, biorą się najprawdopodobniej z potrzeby nazywania
            nowych zjawisk i pojęć. Ale zamiast wymyślania nowych słów, ludzie wolą użyć
            pojęcie istniejące, nadając mu nowy sens. Tego typu zjawisko można zaobserwować
            niemal w każdym języku świata.
            Największa grupa idiomów to frazy kilku wyrazowe.</p>
        <h3 class="example">Przykład</h3>
        <p class="example">To kick the bucket</p>
        <p class="example">czyli polski sens umierać, który akurat w tym przypadku można wyrazić blisko popularnym
            polskim wyrażeniem</p>
        <p class="example">kopnąć w kalendarz</p>
        <p>Inna duża grupa idiomów, to czasowniki dwu wyrazowe</p>
        <h3 class="example">Przykład</h3>
        <p class="example">get up, turn off, put away</p>
        <p>Pod wzgledem "ilościowym" są one bliskie wyrażeniom rzeczownikowym,
            takim jak hot dog czy bottom line - mogą one występować także w fufnkcjach przymiotnikowych.
            Jeszcze inna grupa to wyrażenia przysłówkowe</p>
        <h3 class="example">Przykład</h3>
        <p class="example">like mad, czy like crazy</p>
        <p>No i oczywiście powiedzenia oraz przysłowia, których w
            języku angielskim rzeczywiście nie brakuje</p>
        <h3 class="example">Przykład</h3>
        <p class="example">Don’t count your chickens before they’re hatched</p>
        <p class="example">czyli dosłownie Nie licz swoich kurczaków, zanim się one nie wyklują, a “po polsku”:
            Nie dziel skóry na niedźwiedziu.</p>
        <p>No właśnie, ten ostatni przykład pokazuje metodę tłumaczenia przyjętą w tym
            słowniku - przykłady angielskie są tłumaczone literacko lub opisowo. Znaczy to, że
            nie należy się przejmować “dosłownym” znaczeniem angielskim, które przecież
            byłoby dla Polaka albo śmieszne albo wręcz niezrozumiałe, a jedynie tym co jest
            najbardziej potrzebne, to znaczy właściwym przekazem znaczeniowym. Jeśli nie było
            możliwe znalezienie odpowiednika “codziennego”, czy wręcz “żargonowego”, idiom
            został przetłumaczony literacko. (Przy niektórych hasłach w nawiasach jest podane
            inne ujęcie znaczenia).</p>
    </div>
</div>
{% endblock %}
