{% extends 'vocabulary/menu_vocabulary.html' %}
{% load static %}
{% block head_2 %}
    <script src="{% static 'js/js_idiomy.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styleMobId.css' %}"/>
{% endblock %}
{% block body %}
<div class="component_right">
    <h1>Idioms</h1>
    <div class="words">
        <div>
            <div class="previous" onclick="previous()">
            </div>
            <div class="translation">
                <p id="polish">A-1<br>This hunters' stew is really A-1!</p>
                <p id="english">Ten bigos jest naprawdę pierwsza klasa!</p>
            </div>
            <div class="next" onclick="next()">
            </div>
        </div>
        <div>
            <h2 class="button">Show</h2>
            <div></div>
            {% if user.is_authenticated %}
                <a href="{% url ''%}">
            {% else %}
                <a href="{% url 'login'%}">
            {% endif %}
                <h2 class="button">I'm ready for exam</h2>
            </a>
        </div>
    </div>
</div>
{% endblock %}
