{% extends 'phonetics/menu_phonetics.html' %}
{% load static %}
{% block body %}
<div class="component_right">
    <h1>Monophtongs</h1>
    <div class="subject">
        <h2>/i:/</h2>
        <h2>Words for practise</h2>
        <p class="example">ease - / i:z /</p>
        <p class="example">bee - / bi: /</p>
        <p class="example">tree - / tri: /</p>
        <p class="example">clean - / kli:n /</p>
        <p class="example">thief - / θi:f /</p>
        <p class="example">cheese - / tʃi:z /</p>
        <p class="example">previous - / 'pri:viəs /</p>
        <p class="example">succeed - / sək'si:d /</p>
        <h2>Words for practise 2</h2>
        <p class="example">kneel - / ni:l /</p>
        <p class="example">seize - / si:z /</p>
        <p class="example">sequel - / si:kwəl /</p>
        <p class="example">heathen - / hi:ðən /</p>
        <p class="example">mosquito - / mə'ski:təʊ /</p>
        <p class="example">jubilee - / 'd3u:bili: /</p>
        <p class="example">antique - / æn'ti:k /</p>
        <p class="example">magazine - / mægə'zi:n /</p>
        <h2>Tongue twisters</h2>
        <p class="bee">thieves seize skis</p>
        <p class="bee">A pale pink proud peacock pompously preened its pretty plumage</p>
        <p class="bee">An artist went to sea to see hat he could see at sea to draw but all the artist saw at
            sea is what we always see at sea - see?</p>
    </div>
</div>
{% endblock %}
